.front-page-div {
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
}

#front-page-col {
  background-color: rgb(48, 48, 48);;
}

#profile-picture {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  position: relative;
}

.center{
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.name-text {
  text-align: center;
}

.about-me {
  text-align: center;
  position: relative;
  left: 8%;
}

.imgEl {
  margin: 100px 0px 50px 0px;
}

@media only screen and (max-device-width: 575px) {
  .about-me {
    left: 0%
  }
}



