.front-page-div {
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
}

#front-page-col {
  background-color: rgb(48, 48, 48);;
}

#profile-picture {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.name-text {
  text-align: center;
}

@media only screen and (max-device-width: 1024px) {
  .front-page-div {
    background-attachment: scroll;
  }
}
