.bg-img-parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  border: 5px solid #be1900;
  opacity: 0.75;
  margin: 60px 0px 60px 0px;
}

.portfolio-friend {
  background-image: url(./screenshots/schedulercropped.png);
}

.portfolio-directory {
  background-image: url(./screenshots/directory.png);
}

.portfolio-makeup {
  background-image: url(./screenshots/makeupsite.png);
}

.portfolio-reserve {
  background-image: url(./screenshots/reservecropped.png);
}

/* .logo-tray {
  background-color: #EDE8E8;
  position: absolute;
  width: 30%;
  left: 40%;
  bottom: 10%;
  text-align: center;
} */

/* 
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
} */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .portfolio-friend,
  .portfolio-directory,
  .portfolio-makeup,
  .portfolio-reserve {
    background-attachment: scroll;
  }
}
