.bg-img-parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  border: 5px solid #368265;
  opacity: 0.75;
  margin: 60px 0px 60px 0px;
}

.portfolio-friend {
  background-image: url(./screenshots/schedulercropped.png);
}

.portfolio-directory {
  background-image: url(./screenshots/directory.png);
}

.portfolio-makeup {
  background-image: url(./screenshots/makeupsite.png);
}

.portfolio-reserve {
  background-image: url(./screenshots/reservecropped.png);
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 768px) {
  .portfolio-friend,
  .portfolio-directory,
  .portfolio-makeup,
  .portfolio-reserve {
    background-attachment: scroll;
  }
}

@media only screen and (max-device-width: 425px) {
  .bg-img-parallax {
    margin: 180px 0px 60px 0px;
  }
}
