.portfolio-row {
  margin-left: 15%;
  margin-top: 20px;
  width: 70%;
}

#root {
  background-color: black;
}

.section-header {
  text-align: center;
  color: red;
  margin-top: 100px;
  font-size: 50px;
}

@media only screen and (max-device-width: 1440px) {
  .portfolio-row {
    margin-left: 0px;
    width: 100%;
  }
}

@media only screen and (max-device-width: 768px) {
  p {
    font-size: small;
  }
}
