.portfolio-row {
    margin-left: 15%;
    margin-top: 20px;
    width: 70%;
}

#root {
    /* background: rgb(52,52,52);
    background: linear-gradient(0deg, rgba(52,52,52,1) 0%, rgba(0,0,0,1) 65%, rgba(0,0,0,1) 100%); */
    background-color: black;
}