.titleEl {
  text-align: center;
  height: 100px;
  margin-bottom: 55px;
  margin-top: 50px;
}

[class^="devicon-"],
[class*=" devicon-"] {
  font-size: 4rem;
  margin: 2px;
}

.description-text {
  text-align: center;
  left: 20%;
  color: white;
}

.icon-tray {
  margin-bottom: 30px;
  flex-wrap: wrap;
  display: inline-block;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  [class^="devicon-"],
  [class*=" devicon-"] {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .description-text {
    left: 10%;
  }
}

@media only screen and (max-width: 440px) {
  .icon-tray {
    display: flex;
  }
}
